@model BreadListViewModel
@{
    ViewData["Title"] = Model.Products.First().ProductName;
}

<h1 class="pt-3">@Model.Products.First().ProductName</h1>
<hr />
<p class="pt-3">@Model.Products.First().Description</p>

<div class="pt-3 row flex-row ">
    @foreach (var bread in Model.Bread)
    {
    <div class="col-lg-3 col-sm-6 mb-4 col-xs-6">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="@bread.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5>
                    <a style="color: #432711;"asp-controller="Bread" asp-action="BreadView" asp-route-id="@bread.BreadId">@bread.Name</a>
                </h5>
                <p class="card-text">@bread.ShortDescription.</p>
                <h6>@bread.Price kr</h6>
            </div>
        </div>
    </div>
    }
</div>